.electronics-chip {
  align-items: center;
  border-radius: 100px;
  display: flex;
  gap: 10px;
  padding: 10px 16px;
  position: relative;
  width: 126px;
}

.electronics-chip .text-wrapper-13 {
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.electronics-chip.property-1-4-hover {
  background-color: #4c6fff;
}

.electronics-chip.property-1-4-default {
  background-color: #e1e8ff;
}

.electronics-chip.property-1-4-hover .text-wrapper-13 {
  color: #ffffff;
}

.electronics-chip.property-1-4-default .text-wrapper-13 {
  color: #4c6fff;
}
